VITE_MOVIE_API_BASE_URL=https://api.themoviedb.org/3/
VITE_MOVIE_API_BASE_POSTER_URL=https://image.tmdb.org/t/p/
VITE_MOVIE_API_POSTER_W500=w500
VITE_MOVIE_API_POSTER_W1280=w1280

VITE_MOVIE_API_DISCOVER_END_POINT=discover/movie
VITE_MOVIE_API_SEARCH_END_POINT=search/movie
VITE_MOVIE_API_GENRE_END_POINT=genre/movie/list
VITE_MOVIE_API_PROVIDERS_END_POINT=watch/providers/movie
VITE_MOVIE_API_LANGUAGE_END_POINT=configuration/languages
VITE_MOVIE_API_AGE_RATING_END_POINT=certification/movie/list
VITE_MOVIE_API_SINGLE_MOVIE_END_POINT=movie

VITE_MOVIE_API_PERSON_POPULAR_END_POINT=person/popular
VITE_MOVIE_API_PERSON_SEARCH_END_POINT=search/person
VITE_MOVIE_API_SINGLE_PERSON_END_POINT=person/
VITE_MOVIE_API_SINGLE_MOVIE_CREDITS_END_POINT=movie_credits

VITE_MOVIE_API_AUTHORIZATION_KEY=your_tmdb_api_key

VITE_MOVIE_COMPUTE_CUTOFF_YEAR=2010
VITE_MOVIE_API_DEFAULT_REGION=US

VITE_FEATURE_CARD_VISIBLE_STATUS=feature-card-visible-status